@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&family=Work+Sans:wght@100&display=swap');

#miCuenta {
    margin: 15px;
    list-style-type: none;
}

#cuerpo {
    font-style: normal;
     font-weight: bold;
     font-family: 'Roboto Slab', serif;
font-family: 'Work Sans', sans-serif;
     font-size: 20px;
}

#carousel1 {
    margin: 20px;
}
#presentacion {
    color: wheat;
    border: solid white;
     padding: 30px;
}
aside {
    margin-top: 75px;
    background-color: white;
}
#Envios {
    border: rgb(0, 183, 255) dashed; 
    margin: 20px;
    text-align: center;
}
#tarjetas {
   text-align: center;
    margin: 20px;
    
}
#newsletter {
    text-align: center;
}
#flecha {
    display: flex;
    flex-direction: row;
}
#footer {
    margin: 20px;
    background-color: white;
    }
#copyright {
    color: white;
    font-size: small;
    text-align: center;
}
.historia {
    text-align: center;
    margin-top: 25px;
    border: white solid;
    padding: 10px;
   }
#nacimiento {
    text-align: center;
    padding: 10px;
    border:white dashed;
    margin: 10px;
}
#mediosDePago {
    text-align: center;
    margin-top: 10px;
    }